@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            @if (ViewBag.Error != null)
            {
                <h2>Wystąpił błąd w aplikacji.</h2>
                <p>Proszę skontaktować się z administartorem w celu rozwiązania problemu.</p>
                <p>@ViewBag.Error</p>
            }
            else
            {
                <h2>Wystąpił nieoczekiwany błąd w aplikacji.</h2>
                <p>Proszę spróbować ponownie poprzez uruchomienie aplikacji z poziomu zbioru witryn.</p>
            }
        </div>
    </div>
</body>
</html>
