@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h2>Wystąpił błąd w aplikacji.</h2>
            @if (Model?.Exception?.Message != null)
            {
                <p>@Model.Exception.Message</p>
            }
        </div>
    </div>
</body>
</html>
