@model SPGenerator.AddinWeb.ViewModels.Home.IndexVM

<div class="container">
    <div class="row">
        <a href="@Model.HostWebUrl" class="btn btn-info col-md-3 col-md-offset-9">
            <span class="glyphicon glyphicon-arrow-left pull-left"></span>
            Powrót do zbioru witryn
        </a>
    </div>
</div>
<div class="container">
    @if (Model.SPGLists != null && Model.SPGLists.Any())
    {
        <form class="form-horizontal">
            <div class="form-group">
                <label for="listSelect" class="control-label col-md-2">Lista docelowa:</label>
                <div class="col-md-7">
                    <select class="form-control pull-right" id="listSelect">
                        @foreach (var spgList in Model.SPGLists)
                        {
                            <option>@spgList.Title</option>
                        }
                    </select>
                </div>
                <a href="@Model.SelectedSPGListAbsoluteUrl" class="btn btn-info col-md-3">
                    <span class="glyphicon glyphicon-list-alt pull-left"></span>
                    Idź do  wybranej listy
                </a>
            </div>
            <div class="form-group">
                <label for="recordsCount" class="control-label col-md-2">Liczba rekordów:</label>
                <div class="col-md-7">
                    <input type="number" class="pull-right" id="recordCount" min="1" max="10000" />
                </div>
            </div>
        </form>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                Nie znaleziono w zbiorze witryn żadnej listy na którą
                możliwe byłoby wygenerowanie danych
            </div>
        </div>
    }
</div>